* {
    padding: 0 !important;
    margin: 0 !important;
}

.btn {
    outline: none !important;;
    border: none !important;;
    border-radius: 5px !important;;
    transition: 0.2s linear !important;;
    background: transparent !important;;
    text-transform: uppercase !important;;
    cursor: pointer !important;;
}

a,
a:active,
a:focus {
    color: inherit !important;
    text-decoration: none !important;
}

.btn-brown {
    background-color: #814334 !important;
    color: #ffffff !important;
    border: 2px solid transparent !important;
}

.btn-light,
.btn-combo:hover {
    background-color: #e4d1b0 !important;
    color: #814334 !important;
    border: 2px solid transparent !important;
}

.btn-combo {
    border: 2px solid #e4d1b0 !important;;
}

.btn-brown:hover,
.btn-combo {
    border-color: #814334 !important;
    color: #814334 !important;
    background-color: white !important;
}

.btn-light:hover {
    border-color: #e6ae83 !important;
    color: #814334 !important;
    background-color: white !important;
}

.btn-brown:active {
    box-shadow: 3px 3px 5px #814334 !important;
}

html {
    height: 100%;
}

body {
    position: relative !important;
    margin: 0 !important;
    padding: 24px !important;
    min-width: 330px !important;
    min-height: 100% !important;
    height: fit-content !important;
    background-size: cover !important;
}

body::before,
body::after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 50% !important;
    z-index: -1 !important;
}

body::before {
    right: 0 !important;
    background-color: #814334 !important;
}

body::after {
    left: 0 !important;
    background-color: #e6ae83 !important;
}

.front-main {
    background-color: #e4d7aa !important;
    display: flex !important;
    justify-content: space-evenly !important;
    height: fit-content !important;
    min-height: 100% !important;
    transition: 0.35s !important;
    background-size: cover !important;
}

.front-main img {
    height: auto !important;
    width: 550px !important;
    padding: 100px 0 100px 0 !important;
    object-fit: cover !important;
}

.front-main .main-header-details {
    letter-spacing: 1.5px !important;
    font-size: 18px !important;
    width: 500px !important;
    height: fit-content !important;
    text-align: justify !important;
    border-left: 3px solid #814334 !important;
    margin: auto 0 auto 16px !important;
    padding: 20px !important;
}

.front-main .main-header-details p {
    font-size: 20px !important;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif !important;
    letter-spacing: 3px !important;
}

.front-main .main-header-details h1 {
    font-size: 60px !important;
    margin: 18px 0 !important;
    color: #814334 !important;
    text-transform: capitalize !important;
    font-weight: bolder !important;
}

.front-main .main-header-details a {
    display: block !important;
    margin-top: 16px !important;
}

.front-main .main-header-details a > button {
    font-size: 14px !important;
    padding: 14px 30px !important;
}

.nav-bar {
    position: fixed !important;
    z-index: 9999 !important;
    top: 36px !important;
    left: 48px !important;
    right: 48px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.web-title {
    display: flex !important;
    font-size: 18px !important;
    letter-spacing: 3px !important;
    font-weight: bolder !important;
    text-transform: uppercase !important;
    line-height: 24px !important;
    transition: 0.4s !important;
}

.web-title i {
    font-size: 22px !important;
    color: #814334 !important;
    transition: 0.4s !important;
}

label[for="nav-toggler"] > i {
    position: relative !important;
    font-size: 22px !important;
    cursor: pointer !important;
    color: #814334 !important;
}

.rotate_b {
    animation: rotate_i_b 0.5s infinite !important;
}

.rotate_x {
    animation: rotate_i_x 0.5s infinite !important;
}

@keyframes rotate_i_b {
    0% {
        transform: rotate(0deg) rotate(45deg) scale(0.5) !important;
    }
    100% {
        transform: rotate(0deg) rotate(180deg) scale(1) !important;
    }
}

@keyframes rotate_i_x {
    0% {
        transform: rotate(0deg) rotate(45deg) scale(1) !important;
    }
    100% {
        transform: rotate(0deg) rotate(180deg) scale(0.5) !important;
    }
}

#nav-toggler:checked ~ .nav-bar > label[for="nav-toggler"] > i {
    color: #e4d1b0 !important;
}

.side-bar {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: -250px !important;
    background-color: #814334 !important;
    text-align: center !important;
    transition: 0.3s linear !important;
    width: 250px !important;
}

.navbar-options {
    margin: 24px !important;
    margin-top: 120px !important;
    list-style: none !important;
}

.navbar-options .navbar-item {
    margin-top: 24px !important;
}

.navbar-options .navbar-item {
    font-size: 20px !important;
    color: #e4d1b0 !important;
}

.navbar-options .navbar-item button {
    width: 150px !important;
    padding: 8px !important;
    font-size: 14px !important;
    font-weight: bolder !important;
}

#nav-toggler:checked ~ .side-bar {
    right: 0 !important;
}

@media screen and (max-width: 994px) {
    .front-main .main-header-details {
        letter-spacing: normal !important;
        font-size: 14px !important;
        text-align: left !important;
    }

    .front-main .main-header-details p {
        font-size: 16px !important;
        letter-spacing: normal !important;
    }

    .front-main .main-header-details h1 {
        font-size: 50px !important;
    }

    .front-main .main-header-details a > button {
        font-size: 11px !important;
        padding: 12px 20px !important;
    }
}

@media screen and (max-width: 796px) {
    .front-main img {
        display: none !important;
    }

    .front-main {
        justify-content: center !important;
    }
}

@media screen and (max-width: 396px) {
    .front-main .main-header-details {
        font-size: 13px !important;
    }

    .front-main .main-header-details p {
        font-size: 14px !important;
        letter-spacing: normal !important;
    }

    .front-main .main-header-details h1 {
        font-size: 30px !important;
    }

    .front-main .main-header-details a > button {
        font-size: 10px !important;
        padding: 8px 11px !important;
    }

    .side-bar {
        right: -100% !important;
        width: 100% !important;
    }

    #nav-toggler:checked ~ .nav-bar > .web-title i,
    #nav-toggler:checked ~ .nav-bar > .web-title {
        color: #e6ae83 !important;
    }
}
