<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>Footer</title>
</head>
<body>
<footer>
    <div class="social_links">
        <div class="footer-social-media" id="footer-social-media">
            <a href="https://www.instagram.com/developer_sah/">
            <span class="fa-stack fa-lg ig combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse icon"></i>
              </span>
            </a>
            <a href="https://www.facebook.com/">
            <span class="fa-stack fa-lg fb combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse icon"></i>
              </span>
            </a>
            <a href="https://youtube.com/">
            <span class="fa-stack fa-lg yt combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-youtube-play fa-stack-1x fa-inverse icon"></i>
              </span>
            </a>
            <a href="https://twitter.com">
            <span class="fa-stack fa-lg tw combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse icon"></i>
            </span>
            </a>
            <a href="https://www.linkedin.com/">
            <span class="fa-stack fa-lg li combo">
                <i class="fa fa-circle fa-stack-2x circle"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse icon"></i>
            </span>
            </a>
        </div>
    </div>
    <!----- JS ----->
</footer>
</body>
</html>